
<!-- Copyright 2020 Oleg Borodin <borodin@unix7.org> -->

<div class="mb-2">
    <div class="dropdown-divider"></div>
    <div class="dropdown-item active"><i class="fas fa-hammer"></i> Menu </div>

    <a class="dropdown-item" routerLink="/"><i class="fas fa-torah"></i> Sample </a>

    <a class="dropdown-item" routerLink="/users"><i class="fas fa-users"></i> Users </a>

    <div class="dropdown-divider mb-3"></div>

    <div class="dropdown-item" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout </div>
    <div class="dropdown-divider mb-3"></div>
</div>
